@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-family: 'Noto Sans', sans-serif;


$neutral900: hsl(227, 75%, 14%);
$neutral800: hsl(226, 25%, 17%);
$neutral700: hsl(225, 23%, 24%);
$neutral600: hsl(226, 11%, 37%);
$neutral300: hsl(0, 0%, 78%);
$neutral200: hsl(217, 61%, 90%);
$neutral100: hsl(0, 0%, 93%);
$neutral0: hsl(200, 60%, 99%);

$red400: hsl(3, 86%, 64%);
$red500: hsl(3, 71%, 56%);
$red700: hsl(3, 77%, 44%);

$linear-gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
$linear-gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

/* Remove margens e paddings padrão para um controle melhor */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;
    margin: auto;
    background: $linear-gradient-dark; 
}

.header-theme{
    height: 7rem;
    display: flex;
    align-items: center;
    
    &__bg{
        display: flex;
        align-items: center;
        justify-content: space-between;

        background: $neutral800;
        width: 100%;
        height: 4rem;
        border-radius: 1rem;
        padding: 0 1rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 

    nav {
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1{
            color: $neutral0;
            font-size: 2rem;
        }

        button{
            border: none;
            padding: .4rem 1.1rem;
            border-radius: 1rem;
            font-size: 1rem;
            background: $neutral800;
            color: $neutral300;
            margin-left: .5rem;
            cursor: pointer;
            transition: all .3s;

            &.active{
                background: $red400;
                color: $neutral700;
            }

            &:hover, &:focus{
                background: $red400;
                color: $neutral700;
                transition: all .3s;
            }
        }
    }

}


.container-cards {
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;

    .card{
        border: 2px solid red;
        width: 30rem;
        height: 15rem;
        border-radius: 1rem;
    }
}
