@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --Gradient: #ffa399 to #ff4d97;
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);

    --font0: "Raleway", sans-serif;
}

*{
  padding: 0px;
  margin: 0px;
}

body{
    background: black url(images/bg-desktop.png) bottom center no-repeat fixed;
    background-size: 100% 50%;
    background-color:var(--Very-Dark-Blue) ;
    min-height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  main{
    display: flex;
    gap: 40px;
    background-color: aqua;
    align-items: end;
  }

  section{
    background-color: var(--Dark-Blue);
    width: 210px;
    height: 100px;
    padding: 30px;
    border-radius: 10px 100px 10px 10px;
  }

  .sub{
    display: flex;
    gap: 15px;
  }

  .logo{
    width: 50%;
  }

  .sub img{
    margin: 20px 0px;
    background-color: var(--Very-Dark-Blue);
    padding: 10px;
    height: 17px;
    width: 17px;
    border-radius: 10px;
  }

  article{
    border-radius: 10px;
    background-color: var(--Dark-Blue);
    padding: 30px;
    height: 60px;
    width: 420px;
  }

  .barrinha{
    width: 99.8%;
    height: 20px;
    padding: 3px;
    margin-bottom: 7px;
    border-radius: 20px;
    background-color: ;
    background-image: linear-gradient(to right, #ffa399, #ff4d97 );
  }

/*
  .pop{
    font-family: var(--font0);
    width: 160px;
    display: flex;
    height: 60px;
    align-items: center;
    position: relative;
    top: -83px;
    right: -130px;
    background-color: white;
    border-radius: 10px;
    padding: 3px 15px;
  }

  .triangulo {  /*  COM AJUDA  */
    width: 0;
    height: 0;
    border: 24px solid transparent;
    border-bottom-color: white;
    transform: rotate(-90deg);
    position: relative;
    top: -40px;
    right: -82px;
  }
/*