@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);

    --font0: 'Young Serif', serif;
    --font1: 'Outfit', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

picture > img{
    width: 100%;
    border-radius: 13px;
}

body{
    font-family: var(--font1);
    background-color: var(--Eggshell);
    width: 750px;
    margin: auto;
    font-size: 16px;
}

main{
    background-color: var(--White);
    padding: 40px;
    margin: 100px 0px;
    border-radius: 20px;
}

header > h1{
    color: var(--Dark-Charcoal);
    font-family: var(--font0);
    font-weight: lighter;
    font-size: 40.5px;
    margin: 20px 0px;
}

header > p{
    color: var(--Wenge-Brown);
    margin-bottom: 35px;
    font-weight: 400;
}

.preparation{
    background-color: var(--Rose-White);
    color: var(--Wenge-Brown);
    padding: 20px 35px;
    border-radius: 10px;
    line-height: 2.3;
}

.preparation > h2{
    color: var(--Dark-Raspberry);
}

.preparation > ul {
    margin-left: 20px;
}

.preparation > li {
    margin-right: 80px;
    margin-bottom: 15px;
}

/*geral*/
.preparation  p,
.ingredients p,
.instructions p{
    padding-left: 20px;
}

.ingredients{
    color: var(--Wenge-Brown);
    margin: 20px 0px; 
    line-height: 2;
}

/*geral*/
.ingredients > h2,
.instructions > h2{
    font-weight: 400;
    font-family: var(--font0);
    color: var(--Nutmeg);
}

.ingredients > ul {
    margin-left: 20px;
}

.instructions{
    color: var(--Wenge-Brown);
    margin: 20px 0px; 
}

.instructions ol{
    padding: 15px 0px;
    color: var(--Wenge-Brown);
    margin-left: 20px;
    font-size: 16px;
    line-height: 1.8;
}

.instructions li::marker{
    font-weight: 700;
    color: var(--Nutmeg);
}

.nutrition{
    margin: 20px 0px 0px 0px;
    color: var(--Wenge-Brown);
}

.nutrition h2{
    font-family: var(--font0);
    color: var(--Nutmeg);
    margin: 20px 0px;
    font-weight: 400;
}

caption{
    text-align: start;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
}

td{
    padding-left: 30px;
    line-height: 2.5;
    width: 400px;
    border-bottom: 1px solid var(--Light-Grey);
    font-weight: 400;
}

span{
    font-weight: 600;
    color: var(--Nutmeg);
}

.last{
    border: none;
}

@media  screen and (max-width: 767px){

    body{
        width: 340px;
        font-size: 16px;
    }

    picture > img{
        width: 100%;
        border-radius: 0px;
    }

    main{
        padding: 0px;
        margin: 0px 0px;
        border-radius: 20px;
    }

    header > h1{
        width: 290px;
        font-size: 30px;
        margin: 20px auto;
    }
    
    header > p{
        margin-bottom: 35px;
        font-weight: 400;
        width: 80%;
        margin: 20px 25px ;
    }

    section{
        padding: 30px;
        width: 290px;
    }

    .preparation{
        background-color: var(--Rose-White);
        color: var(--Wenge-Brown);
        padding: 5px 15px;
        margin: auto;
        border-radius: 10px;
        line-height: 1.9;
    }

    .preparation p{
        width: 200px;
    }

    .nutrition, .ingredients, .instructions{
        margin: 10px;
        padding: 0px;
    }

    hr{
        background-color: var(--Light-Grey); 
        height: 1px;
        border: none; 
        width: 300px;
        margin: auto;
    }
}