
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);

    --font0: 'Barlow Semi Condensed', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--Light-gray);
    font-family: var(--font0);
    display: flex;
    min-height: 100vh;
    font-size: 13px;
}

main{
    margin: auto;
    width: 1112px;
    display: grid;
    grid-template-columns: 278px 278px 278px 278px;
    grid-template-rows: 282px 269px;
}

div{
    margin: 33px;
}

.daniel{
    background-color: var(--Moderate-violet);
    grid-column-start: 1;
    grid-column-end: 3;

}

.jonatan{
    background-color: var(--Very-dark-grayish-blue);
    grid-column-start: 3;
    grid-column-end: 4;
}

.jeanette{
    background-color: var(--White);
    grid-column-start: 1;
    grid-column-end: 2;

}

.patrick{
    background-color: var(--Very-dark-blackish-blue);
    grid-column-start: 2;
    grid-column-end: 4;
}

.kira{
    background-color: var(--White);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}
