@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);

    --font0: "Barlow Semi Condensed", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: var(--font0);
    background-color: var(--Light-grayish-blue);
    margin: auto;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 1115px;
    font-size: 14px;
    color: var(--White);
}
main{
    display: grid;
    grid-template-columns: 256px 256px 256px 256px;
    grid-template-rows: 269px 269px;
    grid-gap: 24px 30px;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

header img{
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

.bord{
    border: 2px solid rgba(255, 255, 255, 0.40);
}

.bord2{
    border: 2px solid var(--Moderate-violet);
}

h1{
    font-size: 20px;
    padding: 0px;
}

.text{
    font-size: 11px;
    font-weight: lighter;
}

.text h3{
    color: var(--Light-gray);
    padding-bottom: 20;
}

.daniel{
    background-color: var(--Moderate-violet);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: 358px;
    grid-column: 1/3;
    padding: 20px;
    border-radius: 8px;
}

.daniel p{
    color: var(--Light-gray);
    margin: 16px 0px;
}

.jonathan{
    background-color: var(--Very-dark-grayish-blue);
    grid-column: 3/4;
    padding: 20px;
    border-radius: 8px;
}

.jonathan p{
    color: var(--Light-gray);
    margin: 16px 0px;
    width: 205px;
}

.jeanette{
    background-color: var(--White);
    grid-column: 1/2;
    padding: 20px;
    color: var(--Very-dark-grayish-blue,);
    font-weight: 600;
    border-radius: 8px;
}

.jeanette h1{
    width: 179px;
}

.jeanette p{
    color: var(--Very-dark-grayish-blue);
    width: 200px;
    margin: 16px 0px;
}


.patrick{
    background-color: var(--Very-dark-blackish-blue);
    grid-column: 2/4;
    padding: 20px;
    border-radius: 8px;
}

.patrick p{
    color: var(--Light-gray);
    width: 515px;
    margin: 16px 0px;
}


.kira{
    background-color: var(--White);
    grid-column: 4/5;
    grid-row: 1/3;
    padding: 20px;
    color: var(--Very-dark-grayish-blue);
    font-weight: 600;
    border-radius: 8px;
}


.kira p{
    color: var(--Very-dark-grayish-blue);
    width: 212px;
    margin: 16px 0px;
    font-weight: lighter;
}

@media  screen and (max-width: 1200px){
    body{
        width: 100vw;
        margin: 30px 0px;
    }
    
    main{
        display: flex;
        flex-direction: column;
        width: 340px;
        margin: 0px auto;
    }

    .daniel{
        background-color: var(--Moderate-violet);
        background-image: url(images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position-y: top;
        background-position-x: 220px;
        grid-column: 1/3;
        padding: 20px;
        border-radius: 8px;
    }

    .jonathan p{
        width: 290px;
    }

    .patrick p{
        width: 290px;
    }

    .jeanette h1{
        width: 270px;
    }

    .jeanette p{
        width: 290px;
    }

    .kira p{
        width: 290px;
    }
}

