@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    --font0: "Raleway", sans-serif;
    --font1: "Open Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font1);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
}

/*  HEADER  */

nav{
    margin: 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 54px;
}

nav a{
    text-decoration: none;
    color: var(--Desaturated-Blue);
    font-weight: 400;
}

header > article{
    display: flex;
    margin: 160px 0px 300px 0;
}

header > article > img{
    width: 520px;
}

.text-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
  
}

.text-head h1{
    font-size: 40px;
    font-weight: 600;
    width: 625px;
    color: var(--Very-Dark-Blue);
}

.text-head p{
    margin: 15px 0px;
    width: 555px;
    font-weight: 400;
    font-size: 17px;
    color: var(--Very-Dark-Blue);
}

.email{
    padding: 0px 10px;
    height: 45px;
    width: 315px;
    border-radius: 5px;
    border: 1px solid black;
}
.enviar{
    height: 45px;
    width: 180px;
    border-radius: 5px;
    border: none;
    background-color: var(--Bright-Blue);
    color: white;
}


/*  section  */

.backgroundSection{
    margin-top: 300px ;
    position: absolute;
    top: 515px;
    width: 100%;
    height: 771px;
    background-color: var(--Light-Grayish-Blue);
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    overflow: hidden;
    z-index: 0;
}

section{
    width: 1150px;
    height: 630px;
    display: flex;
    align-items: center;
    z-index: 1;
    gap: 10px;
}

section img{
   width: 40%;
   height: 80%;
}

section .text-article h2{
    font-size: 40px;
}

section .base-text p{
    font-size: 16px;
    margin: 24px 0px;
    width: 520px;
}  

section .linka{
    color: var(--Moderate-Cyan);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

.linka a{
    text-decoration: none;
    color: var(--Moderate-Cyan);

}

.linka img{
    width: 120%;
    padding-top: 4px;
    
}

.text-article{
    width: 793.98px;
    height: 670px;
}

.base-conteiner{
    background-color: white;
    width: 300px;
    margin:40px 0px;
    padding: 34px;
    display: flex;
    flex-direction: column;
}

#quotes{
    width: 7%;
    margin-bottom: 10px;
}

.base-conteiner p{
    color: var(--Very-Dark-Blue);
    width: 290px;
    font-size: 13px;
    line-height: 23px;
}

.base-coment{
    margin-top: 20px ;
    display: flex;
    align-items: center;
    gap: 11px;
}

.base-coment img{
    width: 40px;
    border-radius: 50%;
}