@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root{
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    --font:"Bai Jamjuree", sans-serif;
    
}

/*  HEADER  */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body{
    font-family:var(--font);
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white url(images/bg-header-desktop.png) top no-repeat fixed;
    background-size: 100% 510px;
    font-size: 18px;
}

header{
    margin: 128px;
    width: 700px;
    height: 721px;
    margin: 128px auto;
}

header > img{
    width: 125px;
    margin-bottom: 40px;
}

header > h1{
    color: var(--Dark-Grayish-Blue);
    width: 700px;
    margin-bottom: 16px;
    font-size: 45px;
    font-weight: 500;
}

header > p{
    width: 700px;
    font-size: 20px;
    letter-spacing: 0.432px;
    color: var(--Grayish-Blue);
}

.head-bottom{
    margin: 50px 110px 150px 110px;

}

bottom{
    width: 227px;
    color: white;
    background-color: var(--Strong-Cyan);
    padding: 15px 36px;
    margin-right: 15px;
    border-radius: 50px;
    border-bottom: 3px solid #219C89;
}

bottom:last-of-type{
    width: 227px;
    color: white;
    background-color: var(--Light-Blue);
    padding: 15px 36px;
    border-radius: 50px;
    border-bottom: 3px solid var(--Dark-Grayish-Blue);
}

bottom:hover{
    background-color:hsl(171, 42%, 20%);
    border-bottom: 3px solid #022e29;
}

bottom:last-of-type:hover{
    background-color: hsl(233, 82%, 19%);
    border-bottom: 3px solid  hsl(214, 100%, 3%);;
}

.head-text h2{
    font-size: 2.2rem;
    margin: 0px auto;
    width: 28.5rem;
    font-weight: 400;
    color: var(--Dark-Grayish-Blue);
}

.head-text p{
    text-align: center;
    margin: 20px auto;
    width: 692px;
    color: var(--Grayish-Blue);
}

/*  COMPUTER  */

.computer{
    display: flex;
    margin: 0px auto;
    width: 1440px;
    color: var(--Grayish-Blue);
}

.computer img{
    width: 752px;
    height: 572px;
    margin-right: 110px;
}

.cont-computer{
    display: flex;
    flex-direction: column;
    gap: 68px;
    margin-top: 68px;
}

.text-computer{
    width: 338px;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
}

.text-computer h3{
    font-size: 23px;
    color: var(--Dark-Grayish-Blue);
}

/*  TABLET  */

.tablet{
    width: 1440px;
    height: 710px;
    margin: 150px auto;
}

.tablet h2{
    font-size: 35px;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 18px;
}

.tablet p{
    font-size: 17px;
    width: 671px;
    margin: auto;
    color: var(--Grayish-Blue);
    line-height: 30px;
}

.tablet img{
    width: 905px;
    height: 575px;
    margin-top: 100px;
}

/*  ITEM  */

.item{
    display: flex;
    width: 1440px;
    flex-direction: column;
    margin: auto;
}

.item-tittle{
    display: flex;
    width: 449.25px;
    flex-direction: column;
    margin: auto;
    gap: 19px;
}

.item-tittle h2{
    width: 450px;
    font-size: 32px;
    color: var(--Dark-Grayish-Blue);
}

.item-tittle p{
    color: var(--Grayish-Blue);
}

.item-logo{
    display: flex;
    width: 1116px;
    height: 211px;
    margin: auto;
}

.item-area{
    width: 357px;
    line-height: 30px;
}

.item-area img{
    margin: 40px 0px;
}

.item-area h3{
    color: var(--Dark-Grayish-Blue); 
}

.item-area p{
    color: var(--Grayish-Blue);
    width: 345px;
    font-size: 16px;
}

/*  LOGO  */

.logo{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 90px;
}

/*  DOWN  */

.down{
    display: flex;
    width: 1440px;
    height: 227px;
    flex-direction: column;
    margin: auto;margin-bottom: 150px;
}

.down h2{
    color: var(--Dark-Grayish-Blue); 
    margin-bottom: 20px;
}

.down p{
    width: 678px;
    color: var(--Grayish-Blue); 
    margin: auto;
    line-height: 30px;
}

/*  FOOTER  */

footer{
    width: 100%;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo-foot{
    margin-left: 390px;
}

.logo-foot img{
    width: 55px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    width: 558px;
    margin: auto;
    text-align: start;
}

.item-foot{
    width: 185px;
    margin: 20px 0px;
    color: var(--Grayish-Blue); 
    text-decoration: none;
}

.item-foot:hover{
    color: var(--Strong-Cyan);
}

.icon-foot{
    display: flex;
    gap: 23px;
    margin-right: 380px;
}

.icon-foot:hover{
    color: var(--Strong-Cyan);
}

/*  MEDIA QUERY  */

@media screen and (max-width: 1280px) {
    .computer{
        display: flex;
        margin: 0px auto;
        width: 1000px;
        color: var(--Grayish-Blue);
    }

    .computer img{
        width: 60%;
        height: 50%;
        margin-right: 90px;
    }

    .text-computer{
        width: 250px;
    }

    .cont-computer{
        margin-top: 0px;
    }

/*  TABLET  */

    .tablet{
        width: 100%;
    }
    
/*  ITEM  */

    .item{
        display: flex;
        width: 100%;
    }
    
    .item-logo{
        width: 90%;
    }
    
    .item-area p{
        width: 300px;
    }

/*  LOGO  */  

.logo figure{
    width: 10%;
}

/*  DOWN  */

.down{
    width: 100%;
    height: 227px;
}

/*  FOOTER  */

footer{
    width: 100%;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo-foot{
    margin-left: 80px;
    margin-right: 80px;
}

.logo-foot img{
    width: 55px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    width: 608px;
    margin: auto;
    text-align: start;
    
}

.item-foot{
    width: 185px;
    margin: 20px 0px;
    color: var(--Grayish-Blue); 
    text-decoration: none;
}

.icon-foot{
    display: flex;
    gap: 23px;
    margin-right: 80px;
}

}

@media screen and (max-width: 800px) {
    body{
        display: flex;
        flex-direction: column;
    }

    header{
        width: 100%;
        margin-bottom: 150px;
    }

    header > h1{
        width: 80%;
        font-size: 35px;
        margin: auto;
    }
    
    header > p{
        width: 80%;
        margin: 30px auto;
    }

    .head-bottom{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 220px;
        margin: auto;
    }

    .head-text h2{
        margin: 30px auto;
        width: 299px;
    }
    
    .head-text p{
        margin: 20px auto;
        width: 360px;
    }

    /*  COMPUTER  */

    .computer{
        display: flex;
        flex-direction: column;
        width: 80%;
        color: var(--Grayish-Blue);
    }
    
    .computer img{
        width: 100%;
        height: 100%;
        margin-bottom: 60px;
    }
    
    .text-computer{
        width: 290px;
        margin: auto;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
    }

    /*  TABLET  */

    .tablet{
        width: 100%;
        height: 100%;
        margin: 150px auto;
    }
    
    .tablet p{
        width: 20rem;
    }
    
    .tablet img{
        width: 100%;
        height: 90%;
        margin-top: 100px;
    }

    /*  ITEM  */

    .item{
        width: 100%;
    }
    
    .item-tittle{
        display: flex;
        width: 290px;
    }
    
    .item-tittle h2{
        width: 290px;
    }
    
    .item-logo{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
    }
    
    .item-area{
        width: 357px;
        margin: auto;
        line-height: 30px;
    }
    
    .item-area p{
        width: 290px;
        margin: auto;
    }

    /*  LOGO  */

    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 90px;
    }

    .logo figure{
        width: 100%;
    }

    /*  DOWN  */

    .down{
        width: 100%;
        height: 100%;
    }

    .down h2{
        margin-bottom: 0px;
    }

    .down p{
        width: 90%;
        margin: 20px auto;
        line-height: 30px;
    }


    /*  FOOTER  */

    footer{
        width: 50%;
        height: 150px;
        margin: 40px auto;
        margin-bottom: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-foot{
        margin: auto;
    }

    .logo-foot img{
        width: 50px;
    }

    .list{
        display: flex;
        flex-direction: column;
        width: 190px;
        margin: auto;
        text-align: center;
    }

    .item-foot{
        width: 185px;
        color: var(--Grayish-Blue); 
        text-decoration: none;
    }

    .item-foot:hover{
        color: #022e29;
    }

    .icon-foot{
        display: flex;
        gap: 45px;
        margin-top: 30px;
        margin-right: 0px;
    }

}

