@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --soft-blue:hsl(215, 51%, 70%); 
    --Cyan: hsl(178, 100%, 50%);
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);

    --font: 'Outfit', sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--font);
    background-color: var(--main-BG);
    font-size: 18px;
}



h1:hover{
    color: var(--Cyan);
}

main{
    background-color: var(--card-BG);
    width: 300px;
    padding: 25px;
    border-radius: 25px;
}

main > img{
    width: 100%;
    border-radius: 10px;
}

.image-container {
    position: relative;
    width: 300px; /* Ajuste conforme necessário */
    height: 300px; /* Ajuste conforme necessário */
    overflow: hidden;
  }

  .base-image,
  .overlay-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
  }

  .overlay-image {
    opacity: 0;
    width: 50px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .image-container:hover .overlay-image {
    opacity: 1;
  }

main > h1{
    color: white;
    font-size: 22px;
}

.base-image{
    border-radius: 10px;
}

.image-container {
    position: relative;
    width: 300px; 
    height: 300px; 
    overflow: hidden;
}

.base-image,
.overlay-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
    
}

.overlay-image {
    opacity: 0;
    width: 60px; 
    height: auto; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.image-container:hover .overlay-image {
    opacity: 1;
}


article{
    color: var(--soft-blue);
}
article > p{
    padding: 0px;
    margin: 0px;
}

.clock{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.clock img{
    height: 15px;
    padding: 0px 10px;
}

.days{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--soft-blue);
    }

.days > p > img{
    margin-right: 10px;
}

span{
    color: var(--Cyan);
    font-weight: bold;
}

hr.blue {
    background-color: var(--line);
    height: 2px;
    border: none;
}

footer > div{
    display: flex;
    align-items: center;
}

footer > div > p{
    padding: 0px 15px;
    color: var(--soft-blue);
}

footer > div > img{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
}

footer > div > p > a{
    color: white;
    font-weight: normal;
    text-decoration: none;
}

footer > div > p > a:hover{
    color: var(--Cyan);
}
