@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --Pink: hsl(322, 100%, 66%);
    --Pink-hover: hsl(322, 83%, 73%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    --font0: "Poppins", sans-serif;
    --font1: "Open Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: var(--font1);
    font-size: 18px;
}

/*  HEADER  */

header{
    background: var(--Very-Pale-Cyan) url(images/bg-hero-desktop.svg)top;
    background-size: 100% 100%;
    padding: 40px 0px;
    width: 100%;
    height: 710px;
}

header > nav{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

nav a{
    background-color: #FFFFFF;
    color: var(--Very-Dark-Cyan);
    width: 200px;
    height: 47px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0px 0px 50px 16px rgba(0,0,0,0.1);
}

section{
    display: flex;
    align-items: center;
    width: 1280px;
    margin: 50px auto;
}

.head-text{
    display: flex;
    flex-direction: column;
    width: 530px;
}

.head-text h1{
    font-size: 2.5rem;
    font-family: var(--font0);
    color: var(--Very-Dark-Cyan);
}

.head-text p{
    font-size: 18px;
    margin: 20px 0px;
    color: var(--Grayish-Blue);
}

.head-text a{
    background-color: var(--Pink);
    display: flex;
    color: white;
    width: 280px;
    height: 57px;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-decoration: none;
}

div .img{
    width: 680px;
    margin-left: 50px;
}

/*  ARTICLE  */

article{
    display: flex;
    flex-direction: column;
    margin: 160px auto;
    width: 1235px;
    gap: 50px;
}

article img{
    float: left;
    width: 405px;
}

.grow,
.your{
    border-radius: 20px;
    display: flex;
    height: 440px;
    flex-direction: row; 
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0px 0px 90px 16px rgba(0, 0, 0, 0.068);
}

.flowing{
    border-radius: 20px;
    display: flex;
    height: 440px;
    flex-direction: row-reverse; 
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0px 0px 90px 16px rgba(0, 0, 0, 0.068);
}

.grow-text,
.flowing-text,
.your-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    width: 540px;
}

.grow-text h2,
.flowing-text h2,
.your-text h2{
    font-family: var(--font0);
    color: var(--Very-Dark-Cyan);
    margin-bottom: 8px;
}

.grow-text p,
.flowing-text p,
.your-text p{
    color: var(--Grayish-Blue);
    font: 17px;
    letter-spacing: 0.384px;
}

.comentario{
    margin: 0px auto;
    background-color: white;
    width: 800px;
    height: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: top;
    border-radius: 16px;
    box-shadow: 0px 0px 90px 16px rgba(0, 0, 0, 0.068);
    position: relative;
    top: 90px;
}

.comentario h2{
    font-size: 2rem;
    margin-top: 66px;
    color: var(--Very-Dark-Cyan);
}

.comentario a{
    margin: auto;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background-color: var(--Pink);
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: var(--Pink-hover);
}

/*  FOOTER  */

footer{
    background-color: var(--Very-Dark-Cyan);
    margin: auto;
}


.sub-foot{
    background-color: var(--Very-Dark-Cyan);
    margin:auto;
    padding: 190px 120px 100px 120px ;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location,
.phone,
.email{
    display: flex;
    margin: 24px 0px;
    color: var(--Very-Pale-Cyan);
}

footer img{
    margin-right: 20px;
}

address{
    width: 364px;
    font-family: var(--font1);
}

ul{
    width: 446px;
    column-count: 2;
    list-style: none;
}
li{
    padding: 10px 0px;
    color: var(--Very-Pale-Cyan);
}

li:hover{
    text-decoration: underline ;
}

.icon-right{
    display: flex;
    flex-direction: column;
    height: 120px;
}

.foot-copy{
    display: flex;
    font-size: 12px;
    position: relative;
    top: 150px;
    color: var(--Very-Pale-Cyan);
}

.foot-icon{
    display: flex;
    gap: 20px;
}

.icon{
    width: 35px;
    font-size: 1rem;
    color: var(--Very-Pale-Cyan);
    padding: 8px;
    gap: 200px;
    border: 2px solid var(--Very-Pale-Cyan);
    border-radius: 50%;
    text-align: center;
}

.icon:hover{
    color: var(--Pink);
    border: 2px solid var(--Pink);
    transition: 0.5s all ;
}


/*  Celulares menores  */
@media (min-width: 360px) and (max-width: 767.98px){
body{
    width: 100%;
}

    header{
        background: var(--Very-Pale-Cyan) url(images/bg-hero-mobile.svg)top;
        padding: 20px 0px;
        height: 680px;
    }
    
    header > nav{
        width: 100%;
        padding: 0px 10px;
    }
    
    nav img{
        width: 120px;
    }
    
    nav a{
        width: 100px;
        height: 25px;
        font-size: 10px;
        display: flex;
    }

    /*  SECTION  */

    section{
        flex-direction: column;
        width: 250px;
        margin: 70px auto;
    }

    .head-text{
        width: 290px;
    }

    .head-text h1{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .head-text p{
        font-size: 15.5px;
        text-align: center;
    }
    
    .head-text a{
        font-size: 15px;
        width: 260px;
        height: 42px;
        margin: auto;
    }

    div .img{
        width: 300px;
        margin: 50px auto;
    }

    /*  ARTICLE  */

    article{
        display: flex;
        flex-direction: column;
        margin: 90px auto;
        width: 350px;
        gap: 50px;
    }

    article img{
        float: none;
        display: flex;
        width: 250px;
        margin: auto;
    }

    .grow,
    .your,
    .flowing{ 
        width: 100%;
        height: 100%;
        flex-direction: column-reverse; 
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .grow-text,
    .flowing-text,
    .your-text{
        align-self: center;
        margin: 20px;
        width: 350px;
    }
    
    .grow-text h2,
    .flowing-text h2,
    .your-text h2{
        text-align: center;
        font-size: 1.5rem;
    }
    
    .grow-text p,
    .flowing-text p,
    .your-text p{
        width: 310px;
        margin: 10px auto;
        font-size: 1rem;
        text-align: center;
    }

    .comentario{
        width: 350px;
        height: 200px;
        position: relative;
        top: 90px;
    }
    
    .comentario h2{
        font-size: 1.2rem;
        margin-top: 50px;
    }
    
    .comentario a{
        margin: auto;
        width: 220px;
        height: 43px;
        font-size: 0.8rem;
        box-shadow: 0px 26px 27px -3px rgba(0,0,0,0.1);
    }

    /*  FOOTER  */

    .sub-foot{
        width: 350px;
        display: flex;
        flex-direction: column;
    }

    address{
        font-size: 1.1rem;
        width: 310px;
        font-family: var(--font1);
    }

    ul{
        width: 300px;
        margin-right: 50px;
        column-count: 1;
    }
    li{
        padding: 10px 0px;
        color: var(--Very-Pale-Cyan);
    }

    .icon-right{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        height: 50px;
        background-color: aqua;
    }
    
    .foot-copy{
        display: flex;
        width: 250px;
        font-size: 12px;
        position: relative;
        top: 80px;
        color: var(--Very-Pale-Cyan);
        background-color: blue;
    }
}