@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    --font0: "Poppins", sans-serif;
    --font1: "Open Sans", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: var(--font1);
    font-size: 18px;
}

/*  HEADER  */

header{
    background: var(--Very-Pale-Cyan) url(images/bg-hero-desktop.svg)top;
    background-size: 100% 100%;
    padding: 40px 0px;
    width: 100%;
    height: 710px;
}

header > nav{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

nav a{
    background-color: #FFFFFF;
    color: var(--Very-Dark-Cyan);
    width: 200px;
    height: 47px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0px 0px 50px 16px rgba(0,0,0,0.1);
}

section{
    display: flex;
    align-items: center;
    width: 1280px;
    margin: 50px auto;
}

.head-text{
    display: flex;
    flex-direction: column;
    width: 530px;
}

.head-text h1{
    font-size: 2.5rem;
    font-family: var(--font0);
    color: var(--Very-Dark-Cyan);
}

.head-text p{
    font-size: 18px;
    margin: 20px 0px;
    color: var(--Grayish-Blue);
}

.head-text a{
    background-color: var(--Pink);
    display: flex;
    color: white;
    width: 280px;
    height: 57px;
    margin: 10px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    text-decoration: none;
}

div .img{
    width: 680px;
    margin-left: 50px;
}

/*  ARTICLE  */

article{
    display: flex;
    flex-direction: column;
    margin: 160px auto;
    width: 1235px;
    gap: 50px;
}

article img{
    float: left;
    width: 405px;
}

.grow,
.your{
    border-radius: 20px;
    display: flex;
    height: 440px;
    flex-direction: row; 
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0px 0px 50px 16px rgba(0,0,0,0.1);
}

.flowing{
    border-radius: 20px;
    display: flex;
    height: 440px;
    flex-direction: row-reverse; 
    justify-content: space-between;
    padding: 40px;
    box-shadow: 0px 0px 50px 16px rgba(0,0,0,0.1);
}

.grow-text,
.flowing-text,
.your-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    width: 540px;
}

.grow-text h2,
.flowing-text h2,
.your-text h2{
    font-family: var(--font0);
    color: var(--Very-Dark-Cyan);
    margin-bottom: 8px;
}

.grow-text p,
.flowing-text p,
.your-text p{
    color: var(--Grayish-Blue);
    font: 17px;
    letter-spacing: 0.384px;
}

.comentario{
    margin: auto;
    background-color: white;
    width: 800px;
    height: 280px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: top;
    border-radius: 16px;
}

.comentario h2{
    margin-top: 66px;
    color: var(--Very-Dark-Cyan);
}

.comentario a{
    margin: auto;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background-color: var(--Pink);
    color: white;
    text-decoration: none;
}

/*  FOOTER  */

footer{
    background-color:aqua;
    height: 562px;
    display: flex;
}

